.flex_row {
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex_col {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-left: 40%;
}
.flex_col * {
    margin: 5px;
}