<!DOCTYPE html>
<html>

<head>
    <title>Showing Alerts</title>
</head>

<body>
    <!-- Clicking the buttons should show the alerts with respective content -->
    <button id="first">FIRSTNAME</button>
    <button id="last">LASTNAME</button>
    <button id="full">FIRSTNAME NAME</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script>
        $(document).ready(function() {
            // your code goes here

            $('#first').click(function() {
                alert('Sagar');
            });

            $('#last').click(function() {
                alert('Kadu');
            })

            $('#full').click(function() {
                alert('Sagar Kadu')
            })

        });
    </script>
</body>

</html>