<!DOCTYPE html>
<html>

<head>
    <title>Content Manipulation</title>
</head>

<body>
    <h1 id="firstname">Hello</h1>
    <div id="lastname">MASAI</div>
    <p id="fullname">School</p>
    <hr/>
    <button id="first">FIRSTNAME</button>
    <button id="last">LASTNAME</button>
    <button id="full">FULL NAME</button>
    <button id="reset">RESET DEFAULTS</button>
    <!-- Clicking the buttons should show the values in the respective place holders
	the reset button should set the values to the original values -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script>
        $(document).ready(function() {
            $('#first').click(function() {
                $('#firstname').text('Sagar')
            })

            $('#last').click(function() {
                $('#lastname').text('Kadu')
            })

            $('#full').click(function() {
                $('#fullname').text('Sagar Kadu')
            })

            $('#reset').click(function() {
                $('#fullname').text('School');
                $('#lastname').text('MASAI')
                $('#firstname').text('Hello')
            });
        });
    </script>


</body>

</html>