.box{
    display:grid;
    grid-template-rows:100px 100px 100px 100px;
    grid-template-columns:100px 100px 100px 100px;
    grid-gap:20px;
    
  }
  .box>div{
    background:seagreen;
    
  }
  #white{
    
    background:white;
  }
  @media(max-width:600px){
    .box>div{
      background:red;
   }
  }