.box{
    display:grid;
    grid-gap:10px;
    grid-template-columns:100px 200px 200px 100px;
    grid-template-rows:100px 100px 100px;
   
    
  }
  .box>div{
  
    background:seagreen;
    border-radius:5px;
  }
  #id2{
   grid-area:1/2/1/4;
  }
  #id5{
    grid-area:2/1/2/3
  }
  #id9{
    grid-area:3/3/3/5
  }
  @media(max-width:600px){
    .box>div{
      
    background:red;
    border-radius:5px;
  }
  
  }