.home {
    background-image: url('https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    background-size: cover;
    color: white;
    min-height: 100vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s ease-out;
  }
  .bg_makeTrip {
      /* background-color: #172052; */
      box-shadow:rgba(0,0,0,0.3);
  }