/* color collection */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* css properties */
body {
  margin: 0px;
  padding: 0px;
}
.navbar {
  height: 68px;
}
.navbar nav {
  width: 100%;
  height: 68px;
  position: fixed;
  background: white;
  z-index: 1;
}
nav img {
  margin: 20px;
}
nav ul li {
  float: left;
  margin: 10px 20px 0 0;
  list-style-type: none;
  font-size: 18px;
}
nav ul li:hover {
  border-bottom: 3px solid red;
  cursor: pointer;
}
nav ul {
  float: right;
}
#feebtn {
  border: 1px solid var(--pink);
  padding: 8px;
  margin-top: 2px;
  color: var(--pink);
  border-radius: 8px;
}
#feebtn:hover {
  background: var(--danger);
  color: white;
  cursor: pointer;
}

/* masai bg */
/* size */
.bg_main,
.containerbox,
.masaikey,
.courses {
  position: relative;
  height: 700px;
}

.bg_main {
  background: url("https://www.masaischool.com/static/posters/banner_1.jpg");
}
.bg_main .headings {
  font-size: 30px;
  text-align: right;
  float: right;
  margin-right: 100px;
  margin-top: 250px;
  font-family: "Nunito", "sans-serif";
  color: white;
  letter-spacing: 5px;
}

/* container box  */
.containerbox {
  display: flex;
  width: 100%;
  flex-basis: 1;
  height: 480px;
}
.containerbox .box {
  height: 350px;
  width: 360px;
  padding: 50px;
  text-align: center;
  font-size: 20px;
}
.containerbox .box h2 {
  font-size: 24px;
}

.box img {
  height: 180px;
}

.masaikey {
  background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(2, 450px);
  text-align: center;
  grid-template-rows: repeat(3, 100px 200px 200px);
  gap: 50px;
}
.masaikey h1 {
  grid-column: 1/3;
  font-size: 40px;
  color: white;
}
.masaikey .keybox h1 {
  color: var(--blue);
}
.masaikey .keybox {
  border: 1px solid black;
  background: white;
  padding: 30px;
  font-size: 16px;
}

.masaicampus {
  display: grid;
  width: 98%;
  height: 550px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr 1fr 3fr);
  text-align: center;
  margin: 10px 10px;
  font-size: 20px;
  gap: 30px;
}
.masaicampus h1,
.masaicampus h3,
.courses h1 {
  grid-column: 1/3;
  margin: 0px;
  align-self: center;
  text-align: center;
}

.masaicampus img {
  height: 300px;
  width: auto;
  border: 2px solid black;
}
.courses {
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: repeat(3, 1fr 400px 400px);
  text-align: center;
  font-size: 20px;
  justify-content: center;
  row-gap: 30px;
}
.courses h1 {
  margin-top: 30px;
}
.courses .box {
  border: 1px solid black;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
  grid-template-rows: repeat(4, 1f);
}
.courses .box > div {
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #6b8dd6 48%,
    #8e37d7 100%
  );
  grid-column: 1/3;
  padding: 15px;
  color: white;
}
.courses .box div {
  position: relative;
}
.courses .box div button {
  position: absolute;
  width: 80px;
  height: 30px;
  grid-column: 1/3;
  border-radius: 10px;
  margin-left: 100px;
}
.hiring {
  text-align: center;
}
.hiring img {
  height: 50px;
  margin: 5px 40px 20px 40px;
}
.payment .keybox {
  height: 350px;
}
.payment span {
  margin: 200px 0 0 420px;
}

.payment span button {
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 14px;
}
.payment .keybox {
  font-size: 25px;
}
.payment .keybox p {
  color: red;
}
.payment .keybox h3 {
  border-bottom: 1px solid black;
  padding: 10px;
}

.admission {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 800px;
}
.admission .phase1,
.admission .phase2 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  text-align: center;
  margin-left: 100px;
}

.admission .phase1 h2 {
  grid-column: 1/4;
}
.admission .phase2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  align-items: center;
  margin-top: 100px;
  margin-left: 200px;
}
.admission .phase2 h2,
.admission .phase2 button {
  grid-column: 1/3;
}
.admission .phase2 button {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  margin-left: 400px;
  background: red;
  border-radius: 14px;
  padding: 10px;
  color: white;
  font-size: 14px;
}
.admission .phase1 div,
.admission .phase2 div {
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #6b8dd6 48%,
    #8e37d7 100%
  );
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: 100px;
}
.admission .phase1 img,
.admission .phase2 img {
  margin-top: 20px;
}
.admission .phase1 div h4,
.admission .phase2 div h4 {
  margin-top: 50px;
}

/* media query */

@media (max-width: 915px) {
  body {
    overflow-x: hidden;
  }
  .navbar ul {
    display: none;
  }
  .bg_main {
    background: darkslategray;
    text-align: center;
  }
  .containerbox {
    align-content: center;
    justify-content: center;
    height: 1400px;
    display: flex;
    flex-direction: column;
  }
  .containerbox .box {
    margin-left: 140px;
  }
  .masaikey {
    grid-template-columns: repeat(1, 450px);
    grid-template-rows: repeat(5, 100px 200px 200px 200px 200px);
    height: 1200px;
  }

  .masaikey h1 {
    grid-column: 1/2;
    color: white;
  }
  .masaicampus {
    display: flex;
    flex-direction: column;
    height: 900px;
  }
  .courses {
    display: flex;
    flex-direction: column;
    height: 2000px;
  }
  .courses .box {
    margin: 10px;
    height: 450px;
    margin-left: 150px;
  }
  .payment {
    display: flex;
    flex-direction: column;
  }
  .payment div {
    margin: 10px;
  }
  .admission .phase1,
  .admission .phase2 {
    display: flex;
    flex-direction: column;
  }
  .admission .phase1 div,
  .admission .phase2 div {
    margin: 80px 150px;
  }
  .admission .phase2 div {
    margin-right: 400px;
  }
  .admission .phase2 button {
    margin-left: -60px;
  }
}

/* 2nd page */
.container2 {
  display: grid;
  color: white;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 1000px;
  background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
}
.container2 .box1 {
  display: grid;
  height: 300px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  grid-template-areas:
    "h1 h1 "
    "h3 h3 "
    "list1 list2";
}
.container2 .box1 h1 {
  grid-area: h1;
}
.container2 .box1 h3 {
  grid-area: h3;
}
.container2 .box1 #list1 {
  grid-area: list1;
  list-style-type: none;
}
.container2 .box1 #list2 {
  grid-area: list2;
  list-style: none;
}
.container2 .box1 ul li {
  margin: 12px;
}

.container2 .box2 {
  display: grid;
  height: 400px;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  text-align: center;
  grid-template-areas:
    "location duration date"
    "schedule schedule schedule"
    "apply apply apply";
}
.container2 .box2 #location {
  grid-area: location;
}
.container2 .box2 #duration {
  grid-area: duration;
}
.container2 .box2 #date {
  grid-area: date;
}
.container2 .box2 #schedule {
  grid-area: schedule;
}
.container2 .box2 #apply {
  grid-area: apply;
}
.container2 .box2 p {
  font-size: 30px;
}
.container2 .box2 button {
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  justify-self: center;
}

.coding-course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr 2fr 2fr 2fr);
  align-items: center;
  justify-items: center;
  font-size: 14px;
  text-align: left;
  height: 600px;
  position: relative;
}
.coding-course div {
  padding-left: 10px;
  margin-left: 10px;
}
.coding-course .codinghead {
  grid-column: 1/4;
  font-size: 50px;
  color: darkblue;
  border-bottom: 3px solid black;
}
.coding-course div:nth-child(10) h1 {
  color: red;
}
.coding-course button {
  background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
  color: white;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.soft {
  margin-top: 100px;
  height: 400px;
}
.numbers {
  text-align: center;
}
.numbers div {
  margin: 10px;
}
.numbers h1 {
  color: blue;
}
.asked-q {
  text-align: left;
  font-size: 20px;
  align-items: left;
  width: 500px;
  justify-items: left;
}
.asked-q h1 {
  color: black;
}
.asked-q ul li {
  list-style: none;
  margin: 20px;
}
/* media query: */
@media (max-width: 768px) {
  .container2 {
    height: 1600px;
    row-gap: 50px;
  }
  .container2 .box1 {
    height: 800px;

    grid-template-areas:
      "h1 h1 "
      "h3 h3 "
      "list1 list1"
      "list2 list2";
  }
  .container2 .box2 {
    margin-top: 50px;
    height: 600px;
    grid-template-areas:
      "location"
      "duration"
      "date"
      "schedule"
      "apply";
  }
  .coding-course {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    font-size: 12px;
    height: 1300px;
    justify-items: left;
    align-items: left;
  }
  .coding-course div {
    border-left: 2px solid black;
    margin: 10px;
  }
  .coding-course .codinghead {
    grid-column: 1/1;
  }
  .soft {
    height: 840px;
  }
  .numbers {
    align-items: center;
    justify-items: center;
    font-size: 20px;
  }

  .numbers div {
    border: none;
    text-align: center;
  }
  .asked-q ul li {
    text-align: left;
  }
}
