.bodycolor{
    background:purple;
}

.Sizeofimg{
    height: "450px";
    width: 450px;

}

.cardbckgrnd{
    background: "#231E39";
    width: "500px"

}
.card2bg {
    background: "#1F1A36";
    width: "500px"
}