.flex{
    display:flex;
    margin: 50px 100px;
}
.flex div {
    margin: 5px;
    width: 400px;
    padding: 5px;
}
input{
    margin:10px 0; 
    padding:2% 4%;
    border:2px solid black;
    font-size:25px;
}
label{
    font-size:25px;
    text-align:center;
    margin-top:0.5%;
}
button{
    padding:0.5% 24%;
    font-size:30px;
    background:black;
    color:white;
}
@media(max-width:992px){
    .flex{
        display:flex;
        flex-direction:column;
    }
}
@media(max-width:600px){
    .flex{
        display:flex;
        flex-direction:column;
    }
}
