body {
    padding: 20px 150px;
}

h1{
    text-align: center;
    color:#FF6F00;
}
#studForm {
    padding: 40px 25px 20px 50px;
    margin: 50px 150px;
    width: 600px;
    display: grid;
    gap: 25px;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(9, auto);
}

#studForm .marks{
    width: 100px;
}

#displayTable{
    margin: 10px 50px;                                                                                                                                                      
}

table, td {
    border: 1px solid black;
}
td {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    width: 100px;
    height: 50px;
    text-align: center;
}
#displayTable{
    margin: 10px 50px;
}