body {
      font-family: 'Nunito', sans-serif;;
    }
    .font-size-16px {
      font-size: 16px;
      font-weight: 600;
    }
    .container-img {
      background: url('https://www.masaischool.com/static/posters/banner_1.jpg');
      height: 100vh;
    }
    .overlay {
      background: rgba(24, 20, 20, 0.308);
      height: 100%;
    }
    .text-con h1{
      font-weight: 600; 
    }
    .box {
      height: 25%;
      width: 80%;
    }
    .masai-gradiant {
      background: linear-gradient(to right, #473C7B, #55D1BE);
    }
    .height-100vh {
      height: 100vh;
    }
    .masai-gradiant-reverse {
      background: linear-gradient(to right,#55D1BE, #473C7B );
    }
    .box-1 {
      color: #3584A7;
    }
    .hr {
      width: 88%;
      margin-left: 5%;
    }
    .fw-300 {
      font-weight: 300;
    }
    .fw-200 {
      font-weight: 200;
    }
    .fw-400 {
      font-weight: 400;
    }
    .fw-600 {
      font-weight: 600;
    }
    .text-sky {
      color: #3584A7;
    }
    .img-div {
      height: 150px;
      width: 150px;
    }
    .border-left-5px {
      border-left: 5px solid #ccc;
    }