body {
  font-family: 'Poppins', sans-serif;
}

.my-balck {
  background: #333;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.overlay1 {
  background: rgba(20, 19, 19, 0.322);
  height: 91vh;
  color: #fff;
}
.overlay1 p {
  font-weight: 300;
  letter-spacing: 3px;
  padding: 0 8rem !important;
}

.con-2 {
  background: #333;
}

.hr {
  height: 1px;
  background: #ccc;
} 

/* .x-scroll {
  overflow-x: scroll;
  height: 410px;

} */