<html>

<head>
    <title>Practise Creators</title>
</head>

<body>
    <div id="headings">
    </div>
    <div id="cont">
    </div>
    <ul id="vikings">
        <li id="first">Priyanshu</li>
    </ul>
    <button id="create_h1">Create H1</button>
    <button id="create_h3">Create 2 H3</button>
    <button id="create_div">Create DIVS</button>
    <button id="add_student">Add Students</button>
    <button id="add_copyright">Add Copyright</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script>
        $(document).ready(function() {
            var students = ['Ajay', 'Akshay', 'Anusha', 'Chandrashekhara', 'Haren', 'Hasaan', 'Mahesh', 'Mousumi', 'Pavan', 'Rahul', 'Sumanta', 'Venkatesh', 'Vetrival', 'Vijayendra'];

            $('#create_h1').click(function() {
                $('#headings').append("<h1>MASAI</h1>");
            })

            $('#create_h3').click(function() {
                $('#headings').append('<h3>A Transformation in education!</h3>');
                $('#headings').append('<h3>Learn to earn, pay when you get.</h3>')
            });

            $('#create_div').click(function() {

                for (var i = 1; i < 10; i++) {
                    var div = document.createElement('div');
                    div.textContent = 'Content ' + i;
                    $('#cont').append(div)
                }
            })

            $('#add_student').click(function() {
                for (var i = 0; i < students.length; i++) {
                    var li = document.createElement('li');
                    li.textContent = students[i];
                    $('#first').append(li);
                }
            })

            $('#add_copyright').click(function() {
                var p = document.createElement('p');
                p.textContent = '@ masai 2019';
                $('#vikings').append(p);
            });

        });
    </script>
</body>

</html>