#marksheet{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,25px);
    border: 1px solid black;
}

#grades{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,25px);
    border: 1px solid black;
}