.parentLogin{
    height:100vh;
    background-color: #15202B;
}
.parentSignup{
    height:107vh;
    background-color: #15202B;
}
.centerBox{
    height: 70vh;
    width:40vh;
    /* background-color: #15202B;
    border-radius: 20px; */
}
.textField{
    background-color: #192734;
    color: white;
}
.rounded{
    border-radius: 30px;
}