<!DOCTYPE html>
<html>
  <head>
    <title>Content Manipulation</title>
  </head>
  <body>
    <h1 id="firstname">Hello</h1>
    <div id="lastname">MASAI</div>
    <p id="fullname">School</p>
    <hr />
    <button onclick="setFirstName()">FIRSTNAME</button>
    <button onclick="setLastName()">LASTNAME</button>
    <button onclick="setFullName()">FIRSTNAME LASTNAME</button>
    <button onclick="resetDefaults()">RESET DEFAULTS</button>
    <script type="text/javascript">
      function setFirstName() {
        // Change the content of h1 to your first name
        document.getElementById("firstname").innerHTML = "AMIT";
      }

      function setLastName() {
        // Change the content of div to your last name
        document.getElementById("lastname").innerHTML = "KUMAR";
      }

      function setFullName() {
        // Change the content of p to your full name (firstname - lastname)
        document.getElementById("fullname").innerHTML = "AMIT KUMAR";
      }

      function resetDefaults() {
        // Change the content to reset
        document.getElementById("firstname").innerHTML = "Hello";
        document.getElementById("lastname").innerHTML = "MASAI";
        document.getElementById("fullname").innerHTML = "School";
      }
    </script>
  </body>
</html>
