[Desktop Entry]
Encoding=UTF-8
Name=Link to budweiser
Type=Link
URL=https://www.drinkpreneur.com/wp-content/uploads/2019/07/www.drinkpreneur.com-budweiser-launches-deep-golden-lager-maxresdefault.jpg
Icon=image-jpeg
