
.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: 480px ;

}
.grid div{
    background: darkcyan;
}
body{
    margin-left: 600px;
    margin-top: 200px;
}


