.row{
    display:grid;
    grid-gap:20px;
    grid-template-columns: 100px 100px 100px 100px 100px ;
    grid-template-rows:100px 100px ;
    justify-content: center;
    margin-top:80px;
  }
  .row div{
    background-color:cyan;
    height:100px;
    width:100px;
    margin:20px
  }
  @media (max-width: 600px) {
    .row{
   background: blue ;
   }
 }
 
 @media (min-width: 600px) {
 .row {
   background: red;
 }
 } 
 
 @media (min-width: 768px) {
 .row {
   background: lime;
 }
 } 
 
 @media (min-width: 992px) {
   .row {
     background: black;
   }
 } 