.parent{
    display:flex ;
    justify-content: center;
        }
  .parent div{
    background-color:lime;
    height:100px;
    width:100px;
    margin:25px;
    }
 #rectangle{
    width:250px
  }
  @media (max-width: 600px) {
    .parent {
   background: blue ;
   }
 }
 
 @media (min-width: 600px) {
 .parent {
   background: red;
 }
 } 
 
 @media (min-width: 768px) {
 .parent {
   background: greenyellow;
 }
 } 
 
 @media (min-width: 992px) {
   .parent {
     background: black;
   }
 } 