.r1 {
  background:blue;
  height:50px;
  margin:2%
}
.r2c2 {
  float:right;
  background:lime;
  height:200px;
  width:60%;
  margin:2%
}
.r2c1 {
  background:yellow;
  height:200px;
  width:32%;
  margin:2%;
  float:left;
}
@media (max-width: 600px) {
  .main{
 background: palegoldenrod ;
 }
}

@media (min-width: 600px) {
.main {
 background: red;
}
} 

@media (min-width: 768px) {
.main {
 background: orangered;
}
} 

@media (min-width: 992px) {
 .main {
   background: black;
 }
} 