#renderingDiv div {
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
}
#renderingDiv {
    text-align: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 140px 140px;
}