/* 1stline */
#zero{
    /* display: flex; */
    background:white;
    text-align: center;
    float: left;
    margin-left: 600px;
    font-size: 30px;
}


#zero1{
    display: flex;
    clear: left;
    height: 30px;
    background: white;
    color: white;
}



/* for 1st column */
.one{
display: grid;
grid-template-rows: auto auto auto auto auto auto auto;
grid-template-columns: 100px 100px 100px;
/* background:lightblue; */
grid-row-gap: 10px;
grid-column-gap: 10px;
width: 330px;
}



#a1{
    background:maroon;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* text-align: center; */
    /* padding: 5px; */
    /* font-size: 50px; */
    color: white;
} 

#a2{
    /* background:lightblue; */
    width: 100px;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
} 

#a3{
    /* background:lightblue; */
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
} 

#a4{
    background:greenyellow;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a5{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a6{
    /* background:lightblue; */
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
} 

#a7{
    background:greenyellow;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 


 
#a8{
    background:red;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    
} 

#a9{
    /* background:lightblue; */
    width: 100px;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
} 

#a10{
    background:greenyellow;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a11{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a12{
    /* background:lightblue; */
   
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
} 

#a13{
    background:greenyellow;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a14{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 





#a15{
    /* background:lightblue; */
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    
   
} 

#a16{
    background:greenyellow;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a17{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a18{
    background:rgb(243, 183, 176);
    width: 100px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
} 

#a19{
    background:greenyellow;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a20{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} 

#a21{
    background:rgb(243, 183, 176);
    width: 100px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}  


#Si{
display: grid;
float: left;
background: greenyellow;

height: 150px;
width: 150px;

margin-left: 340px;
margin-top: -750px;
}




.two{
display: grid;
grid-template-rows: auto auto auto auto ;
grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
/* background:lightblue; */
grid-row-gap: 10px;
grid-column-gap: 10px;
width: 990px;
margin-left: 340px;
margin-top: -440px;
}

#b1{
    background:rgb(17, 17, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}


.rj ~ div{ background:rgb(17, 17, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}






.three{

    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 100px 100px 100px 100px 100px 100px ;
    /* background:lightblue; */
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 670px;
    margin-left: 1340px;
    margin-top: -770px;
    
}




#c1{
    /* background:lightblue; */
    width: 100px;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;

}

#c2{
    /* background:lightblue; */
    width: 100px;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;

}
#c3{
    /* background:lightblue; */
    width: 100px;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;

}

#c4{
    /* background:lightblue; */
    width: 100px;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;

}

#c5{
    /* background:lightblue; */
    width: 100px;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;

}
#c6{
    background:rgb(250, 250, 135);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c7{
    background:rgb(115, 44, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}



#c8{
    background:rgb(54, 131, 31);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c9{
    background:rgb(54, 131, 31);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c10{
    background:rgb(54, 131, 31);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c11{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c12{
    background:rgb(250, 250, 135);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c13{
    background:rgb(231, 109, 27);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c14{
    background:rgb(115, 44, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}





#c15{
    background:rgb(54, 131, 31);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c16{
    background:rgb(54, 131, 31);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c17{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c18{
    background:rgb(250, 250, 135);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c19{
    background:rgb(231, 109, 27);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c20{
    background:rgb(115, 44, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c21{
    background:rgb(115, 44, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}





#c22{
    background:rgb(54, 131, 31);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c23{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c24{
    background:rgb(250, 250, 135);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c25{
    background:rgb(231, 109, 27);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c26{
    background:rgb(231, 109, 27);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c27{
    background:rgb(115, 44, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c28{
    background:rgb(115, 44, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}




#c29{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c30{
    background:rgb(250, 250, 135);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c31{
    background:rgb(231, 109, 27);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c32{
    background:rgb(231, 109, 27);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c33{
    background:rgb(231, 109, 27);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c34{
    background:rgb(115, 44, 182);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c35{
    background:red;
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}




#c36{
    background:rgb(250, 250, 135);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c37{
    background:rgb(100, 79, 79);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c38{
    background:rgb(100, 79, 79);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c39{
    background:rgb(100, 79, 79);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c40{
    background:rgb(100, 79, 79);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}
#c41{
    background:rgb(100, 79, 79);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#c42{
    background:rgb(100, 79, 79);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}




.four{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px ;
    /* background:lightblue; */
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
    margin-left: 400px;
    margin-top: 100px;
    margin-right: 150px;
    
}


.four > div{
    background:rgb(51, 58, 10);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

.five ~ div{
    background:rgb(51, 58, 10);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.six ~ div{

    background:rgb(162, 177, 81);
    width: 100px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

#d1{
font-size: 50px;
color: white;
}

#d2{
    font-size: 50px;
    color: black;
}
#d3
{
    font-size: 50px;
    color: black;
}