.container {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  text-align: center;
  height: 80px;
  width: 100%;
  border: 2px black solid;
  justify-content: center;
  align-items: center;
}
.studentData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.studentData div {
  border: 3px black solid;
}
.pInfo {
  display: flex;
  flex-direction: column;
}
body {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
button {
  background-color: brown;
  border-radius: 10px;
}
