#yellow{
    background:yellow;
    height:100px;
    width:auto;
  }
  .grid{
    display:grid;
    grid-template-columns:repeat(4,297px);
    grid-template-rows:250px;
    grid-gap:40px;
    margin-top:20px;
  }
  #id1{
    background:red;
  }
  #id2{
    background:lime;
  }
  #id3{
    background:purple;
  }
  #id4{
    background:grey;
  }
  @media(max-width:800px){
    .grid{
    grid-template-columns:repeat(2,297px);
    grid-template-rows:250px 250px;
    grid-gap:10px;
    margin-top:20px;
  }
    #yellow{
      width:90%;
    }
    #id3{
    background:lime;
  }
    #id2{
    background:purple;
  }
  }
  @media(max-width:600px){
    .grid{
    grid-template-columns:repeat(1,197px);
    grid-template-rows:150px 150px 150px 150px ;
    grid-gap:10px;
    margin-top:20px;
      
  }
    #yellow{
      width:197px;
    }
    #id2{
      background:grey;
    }
    #id3{
      background:lime;
    }
    #id4{
      background:purple;
    }
  }