.pricing-heading{
  padding: 8%;
}

.pricing{
  font-size: 2.6rem;
}

.pricing-desc{
  font-size: 1.4rem;
}

.dark-color-text{
  color:#464242;
}

.prices{
  height: 70%;
  width: 70%;
  padding: 1%;
}

.pricing-section{
  padding-top: 8%;
  padding-bottom: 8%;
}

.open-account{
  padding-top:8% ;
  padding-bottom: 8%;
}

.ul-in-pricing > li{
  list-style-type: disc;
}

.charges-text{
  font-size: 0.7rem;
}

.brokerage-calculator{
  padding-bottom: 8%;
}