[Desktop Entry]
Encoding=UTF-8
Name=Link to tuborg
Type=Link
URL=https://stmed.net/sites/default/files/tuborg-wallpapers-30791-3231833.jpg
Icon=image-jpeg
