.jumbotron {
    background-color:#276ba8;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.button{
    border:2px solid white;
    height: 43px;
    width:150px;
    border-radius: 10px;
    color:white;
}
.button:hover {
    background-color:white;
    color:black; 
}

.gridrow>div{
    border-left:3px solid grey;
    height: 160px;
}
.gridrow h3{
    color:grey;
}

