.heading-about{
  padding: 8%;
}

.intro-article{
  padding-top: 8%;
  padding-bottom: 8%;
}

.ceo-img{
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.team-img{

  border-radius: 50%;
  height: 230px;
  width: 230px;
}

.team-container{
  margin-top: 8%;
  margin-bottom: 8%;
}