.content0 {
    background: no-repeat center/100% url("https://images.unsplash.com/photo-1545269041-30215d6eef33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
}

.contentFlex {
    display: flex;
    flex-direction: row;
}

.contentFlex>.content4 {
    flex: auto
}

.contentflex>.content9 {
    flex: 1;
}

.content9 {
    /* display: flex; */
    /* position: fixed; */
    align-content: center;
    margin-left: 40%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 800px;
    height: 600px;
    font-size: 38px;
    text-align: center;
    padding: 10px;
    top: 550px;
    float: right;
    flex: auto;
}

.content7 {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 1900px;
    height: 50px;
    /* padding: 20px; */
    font-size: 23 px;
    text-align: center;
    /* margin: 22px; */
}

.content2 {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 1900px;
    height: 90px;
    font-size: 60px;
    text-align: center;
}

.content1 {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 1900px;
    height: 30px;
    font-size: 24px;
    text-align: center;
}

.content3 {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 1900px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

.content4 {
    /* display: flex; */
    position: fixed;
    align-content: center;
    /* margin-left: 30.5%; */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 700px;
    height: 350px;
    font-size: 38px;
    text-align: center;
    padding: 10px;
    top: 300px;
    float: right;
    flex: auto;
}

.content5 {
    text-align: center;
    /* position: fixed; */
    margin-top: 0%;
    color: #f1f1f1;
    width: 60%;
    height: 4px;
}

.contentFlex {
    display: flex;
}

.content6 {
    position: fixed;
    margin-left: 120px;
    margin-top: 50px;
    text-align: center;
}

.contentfor2 {
    background: no-repeat center/100% url("bg2.jpeg");
}

.displayTable {
    color: white;
    font: unset;
    text-align: center;
    border: ivory;
    margin-left: 300px;
    top: 0%;
}