body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#img1{
  width:80px;
  height:80px
}
/* .card-img{
  height:200px;
  width:300px
} */
#cardImg{
  width:300px
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
